Transbank__OneclickMallPromotions__ApiKey=
Transbank__OneclickMallPromotions__CommerceCode=
Transbank__OneclickMallPromotions__ChildCommerceCode1=
Transbank__OneclickMallPromotions__ChildCommerceCode2=
