@inherits LayoutComponentBase

<HeadContent>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</HeadContent>

<div class="layout-home">
    <Header />
    @Body
    <Footer />
</div>
