@{
    {
      Layout = "~/Views/Shared/_Layout.cshtml";
    };
}

<div class="error-container">
  <h1>Se ha producido un error</h1>
  <p class="mb-32">
    Cuando se procesaba la operación, la API encontró un problema y devolvió un error.
  </p>
  
  <h2>¿Por qué no fue posible realizar la operación?</h2>
  <p>Cuando ocurre un error en la operación con la API, el SDK lo captura automáticamente. A continuación, se muestra el detalle de la excepción, lo que te permitirá identificar y comprender el problema.</p>
  
  <pre class="mb-32">
    <code class="language-json">@Model</code>
  </pre>
</div>


