<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Transbank SDK</title>
    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="stylesheet" href="~/css/atom-one-dark.min.css" />
</head>
<body class="main-container">
    <partial name="_Header" />
    <main role="main" class="body-container">
        <partial name="_Menu" />
        <article class="body-content">
            @RenderBody()
        <partial name="_Channels" />
        </article>
    </main>
    <partial name="_Footer" />
    <script src="@Url.Content("~/js/highlight.min.js")"></script>
    <script src="@Url.Content("~/js/highlight-init.js")"></script>  
</body>
</html>