<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/atom-one-dark.min.css" />
    <link rel="stylesheet" href="TransbankSdkDotnetExample.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="js/highlight.min.js"></script>
    <script src="js/highlight-init.js"></script>
    <HeadOutlet />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DEXNLBGZFC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-DEXNLBGZFC');
    </script>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="sidebar.js"></script>
</body>

</html>
